/* GENERALE */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
    font-family: 'Arial';
}

main {
    padding-inline: 30px;
}

.logo-background-color {
    background-color: #222F3F;
}

.light-logo-background-color {
    background-color: #364759;
    color: white;
}

.margin-top {
    margin-top: 30px;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
}

h3 {
    font-size: 1rem;
}

a {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 0.88rem;
    color: #146F77;
    text-decoration: none;
}

.h2-and-a h2, .h2-and-a a{
    display: inline-block;
}

.h2-and-a a {
    padding-left: 10px;
}


/* --------------- STYLE PER HEADER --------------- */
header div.logo-background-color img {
    height: 40px;
    padding-block: 10px;
    padding-left: 30px;
}

header ul {
    padding-block: 10px;
    font-size: 0.8rem;
}

#first-li {
    padding-left: 30px;
}

header ul li {
    display:  inline-block;
    padding-left: 20px;
}


/* --------------- STYLE PER MAIN --------------- */

/* Striscia arancione */
#back-col-orange {
    background-color: #F46600;
    padding-block: 10px;
    color: white;
    text-align: center;
    font-size: 0.93rem;
}

/* Banner */
#img-background {
    background-image: url("../img/bg-image.png");
    background-size: contain;
    text-align: center;
    padding-block: 40px;
    color: white;
    font-weight: 600;
}

#img-background h3, #img-background h1{
    padding-top: 30px;
}

/* box delle 4 immagini */
#box-4-img {
    background-color: white;
    box-shadow: 1px 1px 10px 0px lightgray;
}

#box-h2-a {
    padding-top: 20px;
    padding-left: 20px;
}


/* 4 immagini una di fianco all'altra */
#row-img {
    padding: 20px;
}

.div-img-row {
    display: inline-block;
    height: 400px;
    width: 22%;
}

#img-1 {
    background-image: url("../img/img_1.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    margin-right: 52px;
    box-shadow: 1px 1px 10px 0px #bababa;
}

#img-2 {
    background-image: url("../img/img_2.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    margin-right: 52px;
    box-shadow: 2px 2px 10px 0px #bababa;
}

#img-3 {
    background-image: url("../img/img_3.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    margin-right: 52px;
    box-shadow: 3px 3px 10px 0px #bababa;
}

#img-4 {
    background-image: url("../img/img_4.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    box-shadow: 5px 5px 10px 0px #bababa;
}

/* Dimensionamento prima e seconda immagine grande */
.big-img-mod {
    width: 100%;
}

/* Centratura del h2 e a delle immagini grandi */
.box-big-img .h2-and-a {
    text-align: center;
}


/* --------------- STYLE PER FOOTER --------------- */

/* Back to top */
#back-to-top {
    padding-block: 15px;
    text-align: center;
}

#back-to-top a {
    font-weight: 500;
    color: white;
    text-decoration: underline;
}

/* Logo grande */
#logo-grande {
    padding-block: 65px;
    text-align: center;
}

#logo-grande img{
    height: 60px;
}